- content_for :header_css do
  = stylesheet_link_tag 'blog'

= nav_tab_tag([user_blogs_path(@user), '日记列表'], [new_user_blog_path(@user), '新建日记'])
.content_detail
  .blog_list
    %ul
      - @blogs.each do |blog|
        %li.clearfix{ :class => cycle('odd', 'even') }
          %a.left.blog_title{ :href => user_blog_path(blog.user_id, blog) }= blog.title
          %a.right.created_at{ :href => '#' }= blog.created_at.strftime('%F %T')
  .apple_pagination
    = will_paginate @blogs 
