.record_popup
  .headline
    .title
      = subject.title
    .created_at
      = subject.created_at.strftime('%F')
  %ul.record_panel
    - subject.consumptions.includes(:category).each do |consumption| 
      %li.record.clearfix{ :class => cycle('odd', 'even') }
        %a.category.left
          = "[#{consumption.try(:category).try(:name) || '未分类'}]"
        %a.title.left
          = consumption.title
        %a.cost.right
          = "￥#{consumption.cost}"
  .total
    = "共：#{subject.consumptions_count} 项 总计：￥#{subject.total}"

  .remarks.clearfix
    备注：
    = subject.remarks
