.record_popup
  .headline
    .title
      = "#{time.strftime('%F')} 消费记录"
    .created_at
      = ''
  %ul.record_panel
    - consumptions.includes(:category).each do |consumption| 
      %li.record.clearfix{ :class => cycle('odd', 'even') }
        %a.category.left
          = "[#{consumption.try(:category).try(:name) || '未分类'}]"
        %a.title.left
          = consumption.title
        %a.cost.right
          = "￥#{consumption.cost}"
  .total{ :style => 'font-weight: bold;' }
    = "共：#{consumptions.size} 项 总计：￥#{total}"

  / .remarks.clearfix
  /   备注：
  /   / = subject.remarks
