- content_for :header_css do
  = stylesheet_link_tag 'cupertino/theme', 'fullcalendar'
  = stylesheet_link_tag 'fullcalendar.print', :media => 'print'

- content_for :header_js do
  = javascript_include_tag 'new_record', 'consumption', 'fullcalendar.min'

= nav_tab_tag([subjects_path, '消费记录'], [new_subject_path, '新建消费记录'], [subject_categories_path, '设置消费类目'])

.content_detail
  #calendar

:javascript
  $(document).ready(function() {
    var events_ary = #{@json_ary};
    for (var i=0; i<events_ary.length; i++) {
      events_ary[i] = $.parseJSON(events_ary[i]);
    }

    $('#calendar').fullCalendar({
      theme: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },

      eventRender: function(event, element) {
        element.bind('click', function() {
          var url = '/subjects/filter_by_datetime';
          $.get(url, { datetime : event.start }, function(data){
            if (data.success)
              Spendon.dialog($(data.html));
          }, 'json'); 
        });
        // alert shows up in linux chrome, but messes up draggable
      },      
      monthNames : ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
      monthNamesShort : ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
      dayNamesShort: ['日','一','二','三','四','五','六'],
      dayNames: ['周日','周一','周二','周三','周四','周五','周六'],
      editable: true,
      buttonText: {
        today: '今日',
        month: '按月',
        week: '按周',
        day: '按日'
      },
      events: events_ary
    });
  });

