- content_for :header_css do
  = stylesheet_link_tag 'consumption'
- content_for :header_js do
  = javascript_include_tag 'category_popup'


= nav_tab_tag([subjects_path, '消费记录'], [new_subject_path, '新建消费记录'], [subject_categories_path, '设置消费类目'])
.content_detail
  = render 'subjects/shared_tab'
  .new_record_panel
    %dl.new_record_form.NewRecordForm
      %dt.consumption_title
        %p
          %input.form-text.record_title{ :type => 'text', :placeholder => '为记录添加一个主题', :value => 123123 }
        %p.alert_message
          / asdasdasd
      - @subject.consumptions.each do |consumption|
        %dd.blanks
          / %a.category-select.mr10.select_cate{ :href => 'javascript:;' }
          /   + 选择分类
          %input.form-text.w300.description{ :type => 'text', :placeholder => '消费项目', :value => consumption.title }
          = image_tag 'money16.png', :class => 'ml10'
          %input.form-text.w100.money{ :type => 'text', :placeholder => '消费金额 0.00', :value => consumption.cost }
          %a.ml10.add_new_line{ :href => 'javascript:;', :title => '新增加一行记录' }
            = image_tag 'greenplus16.png'
          %a.remove_record_line{ :href => 'javascript:;', :title => '删除本行', :'data-consumption_id' => consumption.id }
            = image_tag 'delete16.png'
      %dd
        %p.alert_message
      %dd
        %textarea.remarks{ :placeholder => '添加备注信息...' }= @subject.remarks
      / %dd.upload_images
      /   %span 上传图片：
      /   %input{ :type => 'file', :value => 'qewqe' }
      %dd.buttons
        %input.button.new_record_submit{ :type => 'submit', :value => '确定' }
        %span.loading