<!DOCTYPE html>
%html
  %head
    %title 花哪儿了 - 简单记录每日消费的工具
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
    .footer.clearfix
      = mail_to 'jimmy.huangjin@gmail.com', 'jimmy.huangjin@gmail.com'
      © 2012 花哪儿了    
