<!DOCTYPE html>
%html
  %head
    %title 花哪儿了 - 简单记录每日消费的工具
    = stylesheet_link_tag 'public', 'global'
    = yield :header_css
    = javascript_include_tag 'application'
    = yield :header_js
    %link{ :href => image_path('favicon.ico'), :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' }
    = csrf_meta_tags
    %meta{ :name => 'keywords', :content => '花哪儿了，随手记，简单记录消费工具，Ruby, Rails' }
    %meta{ :name => 'description', :content => '一个简洁的在线记录每日消费的工具' }

  %body
    .public-main-container
      = yield
    .footer.clearfix
      %p
        推荐使用 Chrome 或 Firefox 浏览器获取最佳浏览体验
      %p
        = mail_to 'jimmy.huangjin@gmail.com', 'jimmy.huangjin@gmail.com'
        © 2012 花哪儿了
      
= render 'shared/google_analytics'
= render 'shared/baidu_share'
